In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv("../data/fuel_train.csv")
print(f"Any missing values : {data.isnull().values.any()}")
data

Any missing values : False

,Year,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,COEMISSIONS
0,2000,VOLKSWAGEN,GTI,COMPACT,2.0,4,M5,X,11.2,228
1,2000,DODGE,DAKOTA 4X4,PICKUP TRUCK - STANDARD,4.7,8,M5,X,18.8,382
2,2000,GMC,C1500 SIERRA,PICKUP TRUCK - STANDARD,4.8,8,M5,X,18.9,373
3,2000,FORD,F150 4X4,PICKUP TRUCK - STANDARD,4.6,8,A4,X,18.5,380
4,2000,FORD,F150 4X4,PICKUP TRUCK - STANDARD,4.2,6,A4,X,17.3,359
...,...,...,...,...,...,...,...,...,...,...
506,2000,CHEVROLET,ASTRO AWD CARGO,VAN - CARGO,4.3,6,A4,X,17.0,350
507,2000,CHEVROLET,K1500 SILVERADO 4X4,PICKUP TRUCK - STANDARD,4.3,6,M5,X,18.7,386
508,2000,FORD,TAURUS,MID-SIZE,3.0,6,A4,X,13.6,267
509,2000,MERCEDES-BENZ,SLK 230 KOMPRESSOR #,SUBCOMPACT,2.3,4,M5,Z,12.6,246
510,2000,CHEVROLET,G1500/G2500 CHEVY EXPRESS,VAN - PASSENGER,5.7,8,A4,X,20.6,426

In [3]:
data.groupby('Year')['FUEL CONSUMPTION'].mean()

Year
2000    14.532485
Name: FUEL CONSUMPTION, dtype: float64

In [4]:
data.groupby('MAKE')['FUEL CONSUMPTION'].mean()

MAKE
ACURA            12.557143
AUDI             14.361111
BMW              14.795455
BUICK            13.900000
CADILLAC         15.233333
CHEVROLET        15.418750
CHRYSLER         13.893750
DAEWOO           11.811111
DODGE            18.762162
FERRARI          25.200000
FORD             15.908511
GMC              17.651724
HONDA            11.214286
HYUNDAI          12.000000
INFINITI         13.525000
ISUZU            15.642857
JAGUAR           15.814286
JEEP             16.457143
KIA              12.275000
LAND ROVER       20.225000
LEXUS            15.183333
LINCOLN          16.450000
MAZDA            13.575000
MERCEDES-BENZ    14.040000
NISSAN           15.225000
OLDSMOBILE       13.380000
PLYMOUTH         15.400000
PONTIAC          12.515789
PORSCHE          15.557143
SAAB             13.685714
SATURN           11.014286
SUBARU           12.166667
SUZUKI           10.830769
TOYOTA           12.975676
VOLKSWAGEN       11.810345
VOLVO            13.664706
Name: FUEL CONSUMPTION, dtype: float64

In [5]:
data.groupby('MODEL')['FUEL CONSUMPTION'].mean()

MODEL
1.6EL              10.15
3.5RL              15.00
300M               14.40
323 CONVERTIBLE    13.90
323Ci              13.40
                   ...
XTERRA             14.20
XTERRA V6          16.20
XTERRA V6 4X4      16.75
Z3                 13.90
Z8                 19.30
Name: FUEL CONSUMPTION, Length: 292, dtype: float64

In [6]:
data['MODEL'].value_counts()

MODEL
LS                      6
DAKOTA                  5
A6 QUATTRO              5
626                     4
A4 QUATTRO              4
                       ..
CABRIO                  1
3.5RL                   1
HOMBRE 4X4              1
ACCORD                  1
SLK 230 KOMPRESSOR #    1
Name: count, Length: 292, dtype: int64

In [7]:
data.groupby('VEHICLE CLASS')['FUEL CONSUMPTION'].mean()

VEHICLE CLASS
COMPACT                     12.305747
FULL-SIZE                   14.452174
MID-SIZE                    13.682813
MINICOMPACT                 14.677778
MINIVAN                     15.885714
PICKUP TRUCK - SMALL        14.110000
PICKUP TRUCK - STANDARD     17.370667
STATION WAGON - MID-SIZE    13.240000
STATION WAGON - SMALL       11.963636
SUBCOMPACT                  12.088158
SUV                         15.984615
TWO-SEATER                  16.928571
VAN - CARGO                 18.011765
VAN - PASSENGER             19.323077
Name: FUEL CONSUMPTION, dtype: float64

In [8]:
data.groupby('TRANSMISSION')['FUEL CONSUMPTION'].mean()

TRANSMISSION
A3     12.777778
A4     15.266016
A5     14.944643
AS4    14.400000
AS5    15.800000
M5     13.024051
M6     17.018750
Name: FUEL CONSUMPTION, dtype: float64

In [9]:
data.groupby('FUEL')['FUEL CONSUMPTION'].mean()

FUEL
D     7.260000
E    20.600000
N    20.800000
X    14.489516
Z    14.791603
Name: FUEL CONSUMPTION, dtype: float64

In [10]:
data.drop("Year",axis = 1,inplace = True)
data.drop("MODEL",axis = 1,inplace = True)
data

,MAKE,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,COEMISSIONS
0,VOLKSWAGEN,COMPACT,2.0,4,M5,X,11.2,228
1,DODGE,PICKUP TRUCK - STANDARD,4.7,8,M5,X,18.8,382
2,GMC,PICKUP TRUCK - STANDARD,4.8,8,M5,X,18.9,373
3,FORD,PICKUP TRUCK - STANDARD,4.6,8,A4,X,18.5,380
4,FORD,PICKUP TRUCK - STANDARD,4.2,6,A4,X,17.3,359
...,...,...,...,...,...,...,...,...
506,CHEVROLET,VAN - CARGO,4.3,6,A4,X,17.0,350
507,CHEVROLET,PICKUP TRUCK - STANDARD,4.3,6,M5,X,18.7,386
508,FORD,MID-SIZE,3.0,6,A4,X,13.6,267
509,MERCEDES-BENZ,SUBCOMPACT,2.3,4,M5,Z,12.6,246
510,CHEVROLET,VAN - PASSENGER,5.7,8,A4,X,20.6,426

In [11]:
data = pd.get_dummies(data,columns = ['FUEL','TRANSMISSION'])
data

,MAKE,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,FUEL CONSUMPTION,COEMISSIONS,FUEL_D,FUEL_E,FUEL_N,FUEL_X,FUEL_Z,TRANSMISSION_A3,TRANSMISSION_A4,TRANSMISSION_A5,TRANSMISSION_AS4,TRANSMISSION_AS5,TRANSMISSION_M5,TRANSMISSION_M6
0,VOLKSWAGEN,COMPACT,2.0,4,11.2,228,False,False,False,True,False,False,False,False,False,False,True,False
1,DODGE,PICKUP TRUCK - STANDARD,4.7,8,18.8,382,False,False,False,True,False,False,False,False,False,False,True,False
2,GMC,PICKUP TRUCK - STANDARD,4.8,8,18.9,373,False,False,False,True,False,False,False,False,False,False,True,False
3,FORD,PICKUP TRUCK - STANDARD,4.6,8,18.5,380,False,False,False,True,False,False,True,False,False,False,False,False
4,FORD,PICKUP TRUCK - STANDARD,4.2,6,17.3,359,False,False,False,True,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,CHEVROLET,VAN - CARGO,4.3,6,17.0,350,False,False,False,True,False,False,True,False,False,False,False,False
507,CHEVROLET,PICKUP TRUCK - STANDARD,4.3,6,18.7,386,False,False,False,True,False,False,False,False,False,False,True,False
508,FORD,MID-SIZE,3.0,6,13.6,267,False,False,False,True,False,False,True,False,False,False,False,False
509,MERCEDES-BENZ,SUBCOMPACT,2.3,4,12.6,246,False,False,False,False,True,False,False,False,False,False,True,False
510,CHEVROLET,VAN - PASSENGER,5.7,8,20.6,426,False,False,False,True,False,False,True,False,False,False,False,False

In [12]:
data = data.replace({True: 1, False: 0})
data

/var/folders/vv/fsyffy014jj_lr9z9nwt_3yr0000gn/T/ipykernel_65968/2339750784.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data = data.replace({True: 1, False: 0})

,MAKE,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,FUEL CONSUMPTION,COEMISSIONS,FUEL_D,FUEL_E,FUEL_N,FUEL_X,FUEL_Z,TRANSMISSION_A3,TRANSMISSION_A4,TRANSMISSION_A5,TRANSMISSION_AS4,TRANSMISSION_AS5,TRANSMISSION_M5,TRANSMISSION_M6
0,VOLKSWAGEN,COMPACT,2.0,4,11.2,228,0,0,0,1,0,0,0,0,0,0,1,0
1,DODGE,PICKUP TRUCK - STANDARD,4.7,8,18.8,382,0,0,0,1,0,0,0,0,0,0,1,0
2,GMC,PICKUP TRUCK - STANDARD,4.8,8,18.9,373,0,0,0,1,0,0,0,0,0,0,1,0
3,FORD,PICKUP TRUCK - STANDARD,4.6,8,18.5,380,0,0,0,1,0,0,1,0,0,0,0,0
4,FORD,PICKUP TRUCK - STANDARD,4.2,6,17.3,359,0,0,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,CHEVROLET,VAN - CARGO,4.3,6,17.0,350,0,0,0,1,0,0,1,0,0,0,0,0
507,CHEVROLET,PICKUP TRUCK - STANDARD,4.3,6,18.7,386,0,0,0,1,0,0,0,0,0,0,1,0
508,FORD,MID-SIZE,3.0,6,13.6,267,0,0,0,1,0,0,1,0,0,0,0,0
509,MERCEDES-BENZ,SUBCOMPACT,2.3,4,12.6,246,0,0,0,0,1,0,0,0,0,0,1,0
510,CHEVROLET,VAN - PASSENGER,5.7,8,20.6,426,0,0,0,1,0,0,1,0,0,0,0,0

In [13]:
from category_encoders import TargetEncoder
cols = ['MAKE','VEHICLE CLASS']
for col in cols:
    te = TargetEncoder()
    te.fit(X=data[col],y = data['FUEL CONSUMPTION'])
    values = te.transform(data[col])
    data = pd.concat([data,values],axis = 1)
data

,MAKE,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,FUEL CONSUMPTION,COEMISSIONS,FUEL_D,FUEL_E,FUEL_N,FUEL_X,FUEL_Z,TRANSMISSION_A3,TRANSMISSION_A4,TRANSMISSION_A5,TRANSMISSION_AS4,TRANSMISSION_AS5,TRANSMISSION_M5,TRANSMISSION_M6,MAKE,VEHICLE CLASS
0,VOLKSWAGEN,COMPACT,2.0,4,11.2,228,0,0,0,1,0,0,0,0,0,0,1,0,12.597181,12.308485
1,DODGE,PICKUP TRUCK - STANDARD,4.7,8,18.8,382,0,0,0,1,0,0,0,0,0,0,1,0,18.108824,17.359115
2,GMC,PICKUP TRUCK - STANDARD,4.8,8,18.9,373,0,0,0,1,0,0,0,0,0,0,1,0,16.750107,17.359115
3,FORD,PICKUP TRUCK - STANDARD,4.6,8,18.5,380,0,0,0,1,0,0,1,0,0,0,0,0,15.821858,17.359115
4,FORD,PICKUP TRUCK - STANDARD,4.2,6,17.3,359,0,0,0,1,0,0,1,0,0,0,0,0,15.821858,17.359115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,CHEVROLET,VAN - CARGO,4.3,6,17.0,350,0,0,0,1,0,0,1,0,0,0,0,0,15.367946,16.013119
507,CHEVROLET,PICKUP TRUCK - STANDARD,4.3,6,18.7,386,0,0,0,1,0,0,0,0,0,0,1,0,15.367946,17.359115
508,FORD,MID-SIZE,3.0,6,13.6,267,0,0,0,1,0,0,1,0,0,0,0,0,15.821858,13.693118
509,MERCEDES-BENZ,SUBCOMPACT,2.3,4,12.6,246,0,0,0,0,1,0,0,0,0,0,1,0,14.346552,12.097163
510,CHEVROLET,VAN - PASSENGER,5.7,8,20.6,426,0,0,0,1,0,0,1,0,0,0,0,0,15.367946,16.122062

In [14]:
data.drop(data.columns[0],axis = 1,inplace=True)
data.drop(data.columns[0],axis = 1,inplace=True)
data

,ENGINE SIZE,CYLINDERS,FUEL CONSUMPTION,COEMISSIONS,FUEL_D,FUEL_E,FUEL_N,FUEL_X,FUEL_Z,TRANSMISSION_A3,TRANSMISSION_A4,TRANSMISSION_A5,TRANSMISSION_AS4,TRANSMISSION_AS5,TRANSMISSION_M5,TRANSMISSION_M6
0,2.0,4,11.2,228,0,0,0,1,0,0,0,0,0,0,1,0
1,4.7,8,18.8,382,0,0,0,1,0,0,0,0,0,0,1,0
2,4.8,8,18.9,373,0,0,0,1,0,0,0,0,0,0,1,0
3,4.6,8,18.5,380,0,0,0,1,0,0,1,0,0,0,0,0
4,4.2,6,17.3,359,0,0,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,4.3,6,17.0,350,0,0,0,1,0,0,1,0,0,0,0,0
507,4.3,6,18.7,386,0,0,0,1,0,0,0,0,0,0,1,0
508,3.0,6,13.6,267,0,0,0,1,0,0,1,0,0,0,0,0
509,2.3,4,12.6,246,0,0,0,0,1,0,0,0,0,0,1,0
510,5.7,8,20.6,426,0,0,0,1,0,0,1,0,0,0,0,0

In [15]:
data['ENGINE SIZE'] = (data['ENGINE SIZE'] - data['ENGINE SIZE'].mean()) / data['ENGINE SIZE'].std()
data['CYLINDERS'] = (data['CYLINDERS'] - data['CYLINDERS'].mean()) / data['CYLINDERS'].std()
data[data.columns[3]] = (data[data.columns[3]] - data[data.columns[3]].mean()) / data[data.columns[3]].std()
data

,ENGINE SIZE,CYLINDERS,FUEL CONSUMPTION,COEMISSIONS,FUEL_D,FUEL_E,FUEL_N,FUEL_X,FUEL_Z,TRANSMISSION_A3,TRANSMISSION_A4,TRANSMISSION_A5,TRANSMISSION_AS4,TRANSMISSION_AS5,TRANSMISSION_M5,TRANSMISSION_M6
0,-1.010248,-1.134899,11.2,-1.032531,0,0,0,1,0,0,0,0,0,0,1,0
1,1.250276,1.495185,18.8,1.405771,0,0,0,1,0,0,0,0,0,0,1,0
2,1.334000,1.495185,18.9,1.263273,0,0,0,1,0,0,0,0,0,0,1,0
3,1.166553,1.495185,18.5,1.374105,0,0,0,1,0,0,1,0,0,0,0,0
4,0.831661,0.180143,17.3,1.041609,0,0,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,0.915384,0.180143,17.0,0.899111,0,0,0,1,0,0,1,0,0,0,0,0
507,0.915384,0.180143,18.7,1.469104,0,0,0,1,0,0,0,0,0,0,1,0
508,-0.173017,0.180143,13.6,-0.415039,0,0,0,1,0,0,1,0,0,0,0,0
509,-0.759079,-1.134899,12.6,-0.747534,0,0,0,0,1,0,0,0,0,0,1,0
510,2.087508,1.495185,20.6,2.102429,0,0,0,1,0,0,1,0,0,0,0,0